html,
body {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
}
.Client {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}
.Server {
    font-family: 'Open Sans', sans-serif;
    color: #a7fe47;
}
.System {
    font-family: 'Open Sans', sans-serif;
    color: #0a8ddc;
}
.Error {
    font-family: 'Open Sans', sans-serif;
    color: #ff0000;
}
.input {
    border-radius: 0.4em;
    border-width: 0;
    height: 5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: #333333;
    padding-left: 5%;
    padding-right: 5%;
    color: #FFFFFF;
}
.output {
    color: #FFFFFF;
    background-color: #333333;
    border-radius: 0.4em;
    border-width: 0;
    width: 80%;
    margin-left: 5%;
    height: 85%;
    padding: 5%;
    overflow-y: scroll;
    overflow-wrap: break-word;
}
.panel {
    display: block;
    background-color: #171717;
    height: 100vh;
    width: 25vw;
    position: absolute;
    top: 0;
    right: 0;
}
